:root{
  --colorverdeOsc:   #2c3e50;
  --colorverdeMed:  #2c3e50;
  --colorverdeClaro:  #2c3e50;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  color: white;
  background-color: var(--colorverdeOsc);
 
}

ul {
  display: flex;
  gap: 2rem;
}

li {
  list-style: none;
}